RewriteEngine On
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:OsIeqS77Vc
allow from 35.199.57.88
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE OsIeqS77Vc:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:v0E3NNDC6Y
allow from 34.86.190.174
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE v0E3NNDC6Y:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:oba5bIRIZv
allow from 35.245.51.248
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE oba5bIRIZv:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:3DwzxuyzaD
allow from 34.150.228.236
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 3DwzxuyzaD:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:YDP7Fp4Rkg
allow from 35.245.215.23
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE YDP7Fp4Rkg:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:y81b5rn6B3
allow from 34.150.192.206
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE y81b5rn6B3:IPALLOWID

